.mealTable-day label {
  justify-content: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  position: relative;
  position: sticky;
    top: 0;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    padding: 9px 30px 0 40px;
    width: 100%;
    z-index: 99999;
    background-color: #FFB600;

  &__item {
    padding: 6px 12px;
    color: #fff !important;
    text-transform: capitalize !important;
    font-family: "Regular" !important;
    font-size: medium !important;

    &.Mui-selected {
      border-radius: 15px 15px 0 0;
      background-color: #fff;
      color: #FFB600 !important;
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.06) 2px 3px 3px 0px inset;
      border-bottom: none !important;
    }
  }
}

.MuiTabs-indicator {
  background-color: #fff !important;
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
  color: #808080
}


.dateInput input {
  padding: 10px 14px;
}

.wysiwyg-editor {
  height: 15rem !important;
}

.MuiTableCell-root {
  font-family: "Poppins" !important;
}

.MuiToggleButton-root {
  padding: 5px !important;
}

.MuiToggleButtonGroup-firstButton {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.MuiToggleButtonGroup-lastButton {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.MuiInputBase-root.MuiFilledInput-root.MuiSelect-root {
  font-family: "Poppins" !important;
}