.mealTable-day label {
  justify-content: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  position: relative;
  position: sticky;
    top: 0;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    padding: 9px 30px 0 40px;
    width: 100%;
    z-index: 99999;
    background-color: #FFB600;

  &__list {
    // position: sticky;
    // top: 0;
    // align-items: flex-end;
    // flex-direction: row;
    // justify-content: space-between;
    // padding: 0 30px 0 40px;
    // width: 100%;
    // z-index: 99999;
    // background-color: #FFB600;

    // &-list {
    //   display: flex;
    //   padding-top: 20px;
    //   margin: 0;
    //   gap: 12px;
    //   width: 100%;
    //   list-style: none;
    // }
  }

  &__item {
    padding: 6px 12px;
    color: #fff !important;
    text-transform: capitalize !important;
    font-family: "Regular" !important;
    font-size: medium !important;

    &.Mui-selected {
      border-radius: 15px 15px 0 0;
      background-color: #fff;
      color: #FFB600 !important;
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.06) 2px 3px 3px 0px inset;
      border-bottom: none !important;
    }
  }
}

.MuiTabs-indicator {
  background-color: #fff !important;
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
  color: #808080
}


.dateInput input {
  padding: 10px 14px;
}

.wysiwyg-editor {
  height: 15rem !important;
}
