@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("Poppins-Regular"),
    url("./Fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Poppins-Medium"),
    url("./Fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("Poppins-SemiBold"),
    url("./Fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("Poppins-Light"),
    url("./Fonts/Poppins-Light.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Regular" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fontLight {
  font-family: "Light";
}
